<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
<handlers>
    <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="F:\DMSDocSearch\alenv\Scripts\python.exe|F:\DMSDocSearch\alenv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script"/>
  </handlers>
  </system.webServer>
<appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="main.wsgi_app" />
    <add key="PYTHONPATH" value="F:\DMSDocSearch" />
  </appSettings>
</configuration>